{  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "jsxSingleQuote": false,
  "parser": "flow",
  "tabWidth": 4,
  "trailingComma": "none",
  "importOrder": [
    "^@((?!mui).)*$|<THIRD_PARTY_MODULES>|^react(.*)$|^formik(.*)$",
    "^components/(.*)$|components|^pages/(.*)$|pages|^styled/(.*)$|styled|@mui/(.*)$|@mui|App",
    "^.*/|^.*"
  ],
  "importOrderSeparation": true
}
